@media (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}

.poke-img {
  max-width: min(100%, 30rem);
}

.btn-favorite {
  min-width: 20rem;
}

.type-badge {
  line-height: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.h-75 {
  height: 7.5rem !important;
}

.h-max-300 {
  max-height: 30rem !important;
}

#favorites-chart {
  max-height: 30rem;
}

.list-loading img {
  animation: spinAndGrow 800ms ease-in-out infinite alternate;
}

.list-loading strong {
  font-size: 1.6rem;
}

@keyframes spinAndGrow {
  from {
    transform: scale(1) rotateY(0deg);
  }

  to {
    transform: scale(1.3) rotateY(360deg);
  }
}
