.poke-img {
  max-width: min(100%, 30rem);
}

.btn-favorite {
  min-width: 20rem;
}

.type-badge {
  line-height: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.h-75 {
  height: 7.5rem !important;
}

.h-max-300 {
  max-height: 30rem !important;
}

#favorites-chart {
  max-height: 30rem;
}

@media (min-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}
